.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}

.product > img {
  min-height: 200px;
  max-height: 1000px;
  width: 100px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: contain;
  margin-bottom: 15px;
}

.product__info {
  /* width: 80%; */
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: -12px;
}

.product__rating {
  display: flex;
  margin-top: -32px;
  margin-bottom: 24px;
}
